.header{
    display:flex;
    justify-content: space-between;
    border: 2px solid black ;
}
.logo{
    width:120px;
}

.nav-items{
    font-size: 20px;
    padding: 10px;
}

.nav-items > ul{
    display:flex;
    list-style-type: none;
}
.nav-items > ul > li{
    padding:10px;
    margin:10px;
    
}
.res-card{
    width: 200px;
    height:300px;
    border: 2px solid black;
}
.Search{
    padding:10px;
}